# ─── OS ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Secrets & Environment ─────────────────────────────────────────────────────
.env
application-local.yml

# ─── Java / Maven ──────────────────────────────────────────────────────────────
target/
*.log
*.class

# ─── Node / Angular ────────────────────────────────────────────────────────────
node_modules/
dist/

# ─── IDE ───────────────────────────────────────────────────────────────────────
.idea/
.vscode/
*.iml
*.ipr
*.iws
.metadata/
